<div class="sidebar">
  <h3>Archives</H3>
  <ul>
    {{/* Récupérer les archives dans un tableau triable */}}
    {{ $archives := slice }}
    {{ range $k, $v := .Site.Taxonomies.archives }}
      {{ $archives = $archives | append (dict "key" $k "val" $v) }}
    {{ end }}
    {{/* Trier par clé décroissante */}}
    {{ $archives = sort $archives "key" "desc" }}

    {{ range $archives }}
      <li>
        <a href="{{ "/archives/" | relURL }}{{ .key | urlize }}/">
          {{ $date := printf "%s-01" .key | time }}
          {{ $date.Format "January 2006"
            | replaceRE "January" "Janvier"
            | replaceRE "February" "Février"
            | replaceRE "March" "Mars"
            | replaceRE "April" "Avril"
            | replaceRE "May" "Mai"
            | replaceRE "June" "Juin"
            | replaceRE "July" "Juillet"
            | replaceRE "August" "Août"
            | replaceRE "September" "Septembre"
            | replaceRE "October" "Octobre"
            | replaceRE "November" "Novembre"
            | replaceRE "December" "Décembre"
          }}
        </a>
      </li>
    {{ end }}
  </ul>
</div>