<div class="sidebar">
  <h3>Archives</H3>
  <ul>
    {{/* Récupérer les archives dans un tableau triable */}}
    {{ $archives := slice }}
    {{ range $k, $v := .Site.Taxonomies.archives }}
      {{ $archives = $archives | append (dict "key" $k "val" $v) }}
    {{ end }}
    {{/* Trier par clé décroissante */}}
    {{ $archives = sort $archives "key" "desc" }}

    {{ range $archives }}
      <li>
        <a href="{{ "/archives/" | relURL }}{{ .key | urlize }}/">
          {{ $date := printf "%s-01" .key | time }}
          {{ $date.Format "January 2006"
            | replaceRE "January" "janvier"
            | replaceRE "February" "février"
            | replaceRE "March" "mars"
            | replaceRE "April" "avril"
            | replaceRE "May" "mai"
            | replaceRE "June" "juin"
            | replaceRE "July" "juillet"
            | replaceRE "August" "août"
            | replaceRE "September" "septembre"
            | replaceRE "October" "octobre"
            | replaceRE "November" "novembre"
            | replaceRE "December" "décembre"
          }}
        </a>
      </li>
    {{ end }}
  </ul>
</div>